<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link"
       data-app-link-home
       [routerLink]="['home']"
       [routerLinkActive]="['active']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       data-app-link-temp
       [routerLink]="['temp']"
       [routerLinkActive]="['active']">Convert Some Temperatures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       data-app-link-shopping
       [routerLink]="['shopping']"
       [routerLinkActive]="['active']">Shopping!</a>
  </li>
</ul>
